<footer layout:fragment="footer">
	<div class="container">
  		<div class="row">
			<div class="col-md-3 col-sm-6 margin30">
				<div class="footer-col">
					<h3>About Us</h3>
					<p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                     </p>
                     <ul class="list-inline footer-social">
                      	<li>
                            <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                           	</a>
                 		</li>
                       	<li>
                        	<a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                               	<i class="fa fa-twitter"></i>
                  				<i class="fa fa-twitter"></i>
                          	</a>
                		</li>
                    	<li>
                      		<a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                       			<i class="fa fa-google-plus"></i>
                           		<i class="fa fa-google-plus"></i>
                     		</a>
                  		</li>
             			<li>
                     		<a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                         		<i class="fa fa-pinterest"></i>
                     			<i class="fa fa-pinterest"></i>
                    		</a>
               			</li>
               			<li>
                      		<a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                           		<i class="fa fa-linkedin"></i>
                   				<i class="fa fa-linkedin"></i>
                 			</a>
                 		</li>
                	</ul>
             	</div>                        
       		</div><!--footer col-->
       		
          	<div class="col-md-3 col-sm-6 margin30">
            	<div class="footer-col">
            		<h3>Contact</h3>
           			<ul class="list-unstyled contact">
                    	<li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li> 
                     	<li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">support@meetsoft.com</a></p></li>
                      	<li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
                   		<li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                   		<li> <p><strong><i class="fa fa-skype"></i> Skype</strong> meetsoft.856</p></li>
                	</ul>
            	</div>                        
          	</div><!--footer col-->
                    
        	<div class="col-md-3 col-sm-6 margin30">
            	<div class="footer-col">
                    <h3>Featured Work</h3>
                	<ul class="list-inline f2-work">
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-1.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-2.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-3.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-4.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-5.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-6.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-7.jpg}" class="img-responsive" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-8.jpg}" class="img-responsive" alt="" /></a></li>
                   		<li><a href="#"><img th:src="@{/assets/third-party/assan-theme/img/img-9.jpg}" class="img-responsive" alt="" /></a></li>
                	</ul>
          		</div>                        
          	</div><!--footer col-->  
          	                  
         	<div class="row">
             	<div class="col-md-12 text-center">
                  	<div class="footer-btm">
                    	<span>2017. Powered by &copy;Softtek</span>
                	</div>
            	</div>
        	</div>
    	</div>
	</div>
	
	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery-migrate.min.js}"></script>
   	<!--bootstrap js plugin-->
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/bootstrap/js/bootstrap.min.js}"></script>
 	<!--easing plugin for smooth scroll-->
 	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.easing.1.3.min.js}"></script>
  	<!--sticky header-->
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.sticky.js}"></script>
   	<!--flex slider plugin-->
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.flexslider-min.js}"></script>
  	<!--parallax background plugin-->
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.stellar.min.js}"></script>
 	<!--digit countdown plugin-->
 	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/waypoints.min.js}"></script>
  	<!--digit countdown plugin-->
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.counterup.min.js}"></script>
   	<!--on scroll animation-->
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/wow.min.js}"></script>
  	<!--owl carousel slider-->
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/owl.carousel.min.js}"></script>
  	<!--popup js-->
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.magnific-popup.min.js}"></script>
   	<!--you tube player-->
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/jquery.mb.YTPlayer.min.js}"></script>        
   	<!--customizable plugin edit according to your needs-->
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/custom.js}"></script>
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>  	
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/revolution-custom.js}"></script>    
  	<!--cube portfolio plugin-->
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/cubeportfolio/js/jquery.cubeportfolio.min.js}"></script>
   	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/cube-portfolio.js}"></script>
  	<script type="text/javascript" th:src="@{/assets/third-party/assan-theme/js/pace.min.js}"></script>
</footer><!--default footer end here-->